{%extends 'base.html'%}

{%block title_block%}
<title>vehicle detail</title>
{%endblock%}

{%block body_block%}

<div class="container">
  <div class="row mt-5 text-center">
      <div class="col-3"></div>
      <div class="col-6">
          <div class="card mx-auto" style="width: 18rem;">
              <div class="card-header bg-warning-subtle">
                {%if vehicle.image%}
                <img src="{{vehicle.image.url}}" alt="" width="100%">
                {%endif%}
              </div>
              <ul class="list-group list-group-item-primary">
                <li class="list-group-item">{{vehicle.name}}</li>
                <li class="list-group-item">{{vehicle.model}}</li>
                <li class="list-group-item">{{vehicle.year}}</li>
                <li class="list-group-item">{{vehicle.vehicle_number}}</li>
                <li class="list-group-item">{{vehicle.owner}}</li>
                <li class="list-group-item">{{vehicle.mileage}}</li>
                <li class="list-group-item">{{vehicle.description}}</li>
              </ul>
            </div>
      </div>
      <div class="col-3"></div>
  </div>
</div>

{%endblock%}